<% provide(:title, t(".title")) %>
<section class="listings">
  <div class="wrapper">
    <%= render "shared/item_tours" %>
    <div class="more_listing">
      <%= link_to t(".view"), root_path, class: "more_listing_btn" %>
    </div>
  </div>
</section>
