<div class="panel panel-default panel-google-plus">
  <div class="panel-heading">
    <img class="img-circle pull-left" src="https://public.slidesharecdn.com/images/user-48x48.png" alt="Mouse0270" />
    <h3><%= review.tour.name %></h3>
    <h5><span><%= time_ago_in_words(review.created_at) %></span></h5>
  </div>
  <div class="panel-body">
    <p><%= review.content %></p>
    <p></p>
  </div>
  <div class="panel-footer">
    <% if current_user? review.user %>
      <%= link_to t(".delete"), review, method: :DELETE,
        data: { confirm: t(".areyousure") } %>
    <% end %>
  </div>
</div>
