<% provide(:title, t(".title")) %>
<div id="body">
  <div>
    <div class="featured">
      <h1><%= t(".h1") %></h1>
      <p>
        <%= @review.content %>
      </p>
      <%= link_to image_tag("property_1.jpg") %>
    </div>
  <div>
</div>
